<ion-content>
    <ion-refresher pulling-text="let go to confirm email" on-refresh="confirm_email_ctrl.checkTempUser()" pulling-icon="ion-ios-arrow-thin-down">

    </ion-refresher>
       <!-- nav bar -->
    <div id="login-nav-bar" class="bar bar-header bar-calm">
         <button id="nav-bar-left-button" ui-sref="signup" class="button ion-chevron-left"></button>
        <h1 class="title">Confirm Email</h1>
    </div>
    <!-- end of nav bar -->
    <div style="text-align: center; font-size: 18px;">
        <p>Please check your email and follow the confirmation link.</p>
    <hr>
    <h2 id="confirm-email-instruction-heading"> Once you click the link in your email, pull down and release to confirm your account and login! </h2>
   </div> 
</ion-content>
