<ion-content>
 <!-- nav bar heading -->
    <div id="login-nav-bar" class="bar bar-header bar-calm">
        <button id="nav-bar-left-button" ui-sref="library_feed" class="button ion-chevron-left"></button>
        <h1 class="title"> Avaiable Seats </h1>
        <button ng-click="global.logout()" class="button button-clear">Logout</button>
    </div>
 <!-- end of nav bar heading -->
 <div style="text-align: center; font-size: 18px;">
        <p>Hey Ferg!</p>
       
    <hr>
    <p>This view is where a the floor plan/blueprint is going to show which seats are available.</p>
   </div> 
</ion-content>
