<ion-content>
    <!-- nav bar heading -->
    <div id="login-nav-bar" class="bar bar-header bar-calm">
        <button id="nav-bar-left-button" ui-sref="library_list" class="button ion-chevron-left"></button>
        <h1 class="title"> Profile </h1>
        <button ng-click="global.logout()" class="button button-calm">Logout</button>
    </div>
    <!-- end of nav bar heading -->
    <div id="profile-content-div">
        <h1>Name</h1>
        <hr>
        <h3>School</h3>
        <h3>Email</h3>
        <div id="profile-button-div">
            <button ng-click="profile_ctrl.change_password()" class="button button-calm profile-button col col-50 col-offset-25">Change Password</button>
            <button ng-click="profile_ctrl.confirm_delete()" class="button button-assertive profile-button col col-50 col-offset-25">Delete Account</button>
        </div>
    </div>
</ion-content>