<ion-content>
    <!-- nav bar heading -->
    <div id="login-nav-bar" class="bar bar-header bar-calm">
        <button id="nav-bar-left-button" ui-sref="library_list" class="button ion-chevron-left"></button>
        <h1 class="title"> Profile </h1>
        <button ng-click="global.logout()" class="button button-calm">Logout</button>
    </div>
    <!-- end of nav bar heading -->
    <div id="profile-content-div">
        <button ng-if="!profile_ctrl.isEditing" ng-click="profile_ctrl.beginEditing()" id="profile-edit-button" class="button button-small button-calm">Edit</button>
        <h1 ng-if="!profile_ctrl.isEditing"> {{ profile_ctrl.user_info.username }} </h1>
        <hr ng-if="!profile_ctrl.isEditing">
        <h3 ng-if="!profile_ctrl.isEditing"> {{ profile_ctrl.user_info.school }} </h3>
        <h3 ng-if="!profile_ctrl.isEditing"> {{ profile_ctrl.user_info.email }} </h3>

        <div ng-if="profile_ctrl.isEditing" class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Change Username</span>
                <input ng-model="profile_ctrl.user_changes_info.username" type="text">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Update Email</span>
                <input ng-model="profile_ctrl.user_changes_info.email" type="text">
            </label>
             <!-- school select -->
            <label class="item item-input item-select">
                <div class="input-label">
                    Change School
                </div>
                <select ng-model="profile_ctrl.user_changes_info.school" id="school-select">
                    <option selected>University of Wisconsin Madison</option>
                    <option>Howard University</option>
                    <option>Michigan State University</option>
                    <option>University of California Berkeley</option>
                </select>
            </label>
            <!-- end of school select -->
        </div>

        <div ng-if="profile_ctrl.isEditing" id="profile-button-div">
            <button ng-click="profile_ctrl.change_password()" class="button button-calm profile-button col col-50 col-offset-25">Change Password</button>
            <button ng-click="profile_ctrl.confirm_delete()" class="button button-assertive profile-button col col-50 col-offset-25">Delete Account</button>
            <button ng-click="profile_ctrl.save_changes()" class="button button-calm col col-33 col-offset-33"> Save Changes </button>
            <button id="profile-cancel-btn" ng-click="profile_ctrl.beginEditing()" class="button button-assertive col col-33 col-offset-33"> Cancel </button>
        </div>
    </div>
</ion-content>